@font-face {
    font-family: 'Source_Sans_3';
    src: url('../fonts/Source_Sans_3/static/SourceSans3-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Source_Sans_3, Arial, sans-serif;
    text-align: center;
    background-image: url('../assets/lines.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-size: 14pt;
}

#logo {
    position: absolute;
    top: 40px;
    left: 40px;
    height: 50px;
}

/* Main Container */
#lernpause {
    background-color: rgba(255, 255, 255);
    color: rgb(32, 32, 32);
    padding: 1em;
    /* Reduced padding to save space */
    border-radius: 10px;

    width: 80%;
    height: 60%;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    /* Prevent content from overflowing the box */
    position: relative;
}

#lernpause-head {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    /* Ensures it spans the entire width */
    background-color: white;
    padding: 16pt 0pt;
    /* Optional: Adds a subtle shadow */
    z-index: 1;
}

/* Category: Fixed position within lernpause */
#tip-category {
    position: absolute;
    top: 0;
    left: 1em;
    color: #dd0000;
    font-weight: bold;
    padding: 10px 0;
    font-size: 14pt;
}

/* Scrollable Content */
#lernpause-body {
    width: 100%;
    flex-grow: 1;
    /* Allows it to take remaining space */
    overflow-y: auto;
    /* Enables scrolling when text is too long */
    padding-top: 2em;
    /* Pushes content down to avoid overlap with category */
}

/* Title inside scrollable area */
#tip-title {
    font-size: 20pt;
    margin: 0.5em 0;
    margin-top: 32pt;
}

/* Description inside scrollable area */
#tip-description {}



#lang-switch-button {
    position: absolute;
    top: 50px;
    right: 50px;
    padding: 5px 10px;
    font-size: 12pt;
    background-color: #00afc8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    display: none;
}

#lang-switch-button:focus {
    background-color: #87cdd7;

}

#next-tip-button {
    position: fixed;
    bottom: 60px;
    padding: 8px 12px;
    width: 50%;
    font-size: 14pt;
    background-color: #dd0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    display: none;
}

#next-tip-button:focus {
    background-color: #aa0000;
}

#feedback-link {
    color: #00afc8;
    position: fixed;
    bottom: 20px;
}