body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('lines.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.top-left-image {
    position: absolute;
    top: 30px;
    left: 30px;
    height: 50px;
}

#lernpause {
    background-color: rgba(255, 255, 255);
    color: rgb(32, 32, 32);
    padding: 10%;
    border-radius: 10px;

    width: 50%;
    height: 60%;
    max-width: 800px;
    max-height: 600px;
    min-width: 300px;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
    position: relative;
}

#title {
    font-size: 1.8em;
    margin: 0.5em 0;

}

#description {
    font-size: 1.2em;
    margin: 0.5em 0;
}

#category {
    position: absolute;
    top: 1em;
    left: 3em;
    color: #dd0000;
    font-weight: bold;
}

#next-tip-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 1em;
    background-color: #dd0000;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

#next-tip-button:hover {
    background-color: #aa0000;
}

#next-tip-button:active {
    background-color: #880000;
}